.ui-one {
  background-color: #202126;
  width: 345px;
  height: 175px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 3;
}
.ui-one > * {
  background-color: #2a2b30;
  width: 80px;
  height: 80px;
  position: absolute;
  cursor: pointer;
}
.ui-one > .one {
  background-color: var(--ui-one_oneBackgroundColor);
  top: 5px;
  left: 5px;
}
.ui-one > .one:not(:hover) {
  --ui-one_oneBackgroundColor: #2a2b30;
  --ui-one_oneBackgroundColor2: #44454a
}
.ui-one > .one:hover {
  --ui-one_oneBackgroundColor: #3a3b40;
  --ui-one_oneBackgroundColor2: #64656a
}
.ui-one > .one:focus {
  --ui-one_oneBackgroundColor: #202126;
  --ui-one_oneBackgroundColor2: #303136;
}
.ui-one > .one > * {
  background-color: var(--ui-one_oneBackgroundColor2);
  position: absolute;
}
.ui-one > .one > .one {
  width: 13px;
  height: 40px;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.ui-one > .one > .two {
  width: 13px;
  height: 40px;
  top: 6px;
  left: 22px;
  transform: rotate(45deg)
}
.ui-one > .one > .three {
  background-color: var(--ui-one_oneBackgroundColor);
  width: 30px;
  height: 15px;
  top: 2px;
  left: 25px;
}
.ui-one > .two {
  background-color: var(--ui-one_twoBackgroundColor);
  top: 5px;
  left: 90px;
}
.ui-one > .two:hover {
  --ui-one_twoBackgroundColor: #3a3b40;
  --ui-one_twoBackgroundColor2: #64656a
}
.ui-one > .two:not(:hover) {
  --ui-one_twoBackgroundColor: #2a2b30;
  --ui-one_twoBackgroundColor2: #44454a
}
.ui-one > .three {
  background-color: var(--ui-one_threeBackgroundColor);
  top: 5px;
  left: 175px;
}
.ui-one > .three:hover {
  --ui-one_threeBackgroundColor: #3a3b40;
  --ui-one_threeBackgroundColor2: #64656a
}
.ui-one > .three:not(:hover) {
  --ui-one_threeBackgroundColor: #2a2b30;
  --ui-one_threeBackgroundColor2: #44454a
}
.ui-one > .four {
  background-color: var(--ui-one_fourBackgroundColor);
  top: 5px;
  left: 260px;
}
.ui-one > .four:hover {
  --ui-one_fourBackgroundColor: #3a3b40;
  --ui-one_fourBackgroundColor2: #64656a
}
.ui-one > .four:not(:hover) {
  --ui-one_fourBackgroundColor: #2a2b30;
  --ui-one_fourBackgroundColor2: #44454a
}
.ui-one > .five {
  background-color: var(--ui-one_fiveBackgroundColor);
  top: 90px;
  left: 5px;
}
.ui-one > .five:hover {
  --ui-one_fiveBackgroundColor: #3a3b40;
  --ui-one_fiveBackgroundColor2: #64656a
}
.ui-one > .five:not(:hover) {
  --ui-one_fiveBackgroundColor: #2a2b30;
  --ui-one_fiveBackgroundColor2: #44454a
}
.ui-one > .six {
  background-color: var(--ui-one_sixBackgroundColor);
  top: 90px;
  left: 90px;
}
.ui-one > .six:hover {
  --ui-one_sixBackgroundColor: #3a3b40;
  --ui-one_sixBackgroundColor2: #64656a
}
.ui-one > .six:not(:hover) {
  --ui-one_sixBackgroundColor: #2a2b30;
  --ui-one_sixBackgroundColor2: #44454a
}
.ui-one > .seven {
  background-color: var(--ui-one_sevenBackgroundColor);
  top: 90px;
  left: 175px;
}
.ui-one > .seven:hover {
  --ui-one_sevenBackgroundColor: #3a3b40;
  --ui-one_sevenBackgroundColor2: #64656a
}
.ui-one > .seven:not(:hover) {
  --ui-one_sevenBackgroundColor: #2a2b30;
  --ui-one_sevenBackgroundColor2: #44454a
}
.ui-one > .eight {
  background-color: var(--ui-one_eightBackgroundColor);
  top: 90px;
  left: 260px;
}
.ui-one > .eight:hover {
  --ui-one_eightBackgroundColor: #3a3b40;
  --ui-one_eightBackgroundColor2: #64656a
}
.ui-one > .eight:not(:hover) {
  --ui-one_eightBackgroundColor: #2a2b30;
  --ui-one_eightBackgroundColor2: #44454a
}