.building-menu {
  background-color: #1a1b20;
  width: 345px;
  height: 400px;
  position: fixed;
  bottom: -400px;
  left: 0px;
  z-index: 2; 
}
.building-menu > * {
  background-color: #303136;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: fixed;
  cursor: pointer;
  left: 345px;
}
.building-menu > .tab-one {
  width: 35px;
  height: 35px;
  bottom: 185px;
}
.building-menu > .tab-one:hover {
  background-color: #404146;
}
.building-menu > .tab-two {
  width: 35px;
  height: 35px;
  bottom: 145px;
}
.building-menu > .tab-two:hover {
  background-color: #404146;
}
.building-menu > .tab-three {
  width: 35px;
  height: 35px;
  bottom: 105px;
}
.building-menu > .tab-three:hover {
  background-color: #404146;
}
.building-menu > .tab-four {
  width: 35px;
  height: 35px;
  bottom: 15px;
}
.building-menu > .tab-four:hover {
  background-color: #404146;
}
.building-menu > .tab-five {
  width: 35px;
  height: 35px;
  bottom: -25px;
}
.building-menu > .tab-five:hover {
  background-color: #404146;
}
.building-menu > .tab-six {
  width: 35px;
  height: 35px;
  bottom: -65px;
}
.building-menu > .tab-six:hover {
  background-color: #404146;
}
.building-menu > .tab-seven {
  width: 35px;
  height: 35px;
  bottom: -105px;
}
.building-menu > .tab-seven:hover {
  background-color: #404146;
}
.building-menu > .tab-eight {
  width: 35px;
  height: 35px;
  bottom: -145px;
}
.building-menu > .tab-eight:hover {
  background-color: #404146;
}
.building-menu > .image-one,
.building-menu > .image-two,
.building-menu > .image-three,
.building-menu > .image-four {
  position: absolute;
  width: 140px;
  height: 150px;
  border-radius: 0px;
}
.building-menu > .image-one {
  top: 10px;
  left: 10px;
}
.building-menu > .image-two {
  top: 10px;
  left: 160px;
}
.building-menu > .image-three {
  top: 170px;
  left: 10px;
}
.building-menu > .image-four {
  top: 170px;
  left: 160px;
}