*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
}
.world {
  background-color: #252;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  width: 2000px;
  height: 2000px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(45deg);
}
.world > div {
  width: 40px;
  height: 40px;
  position: relative;
}
.highlight-grid {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  width: 2000px;
  height: 2000px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(45deg);
  z-index: 1;
  pointer-events: none;
}
.settings-borgir {
  background-color: transparent;
  border-radius: 50%;
  border: .3vw solid #777;
  width: 1vw;
  height: 1vw;
  position: absolute;
  top: 1.5vw;
  left: 97vw;
}
.settings-borgir:hover {
  cursor: pointer;
}
