* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
}
.world {
  background-color: #252;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  width: 2000px;
  height: 2000px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.world > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.highlight.active {
  background-color: #edf0f1;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
/*#one {
  background-color: #252;
  width: 1vw;
  height: .25vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
#two {
  background-color: #252;
  width: .25vw;
  height: 1vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
#three {
  background-color: #252;
  width: .7vw;
  height: .7vw;
  border-radius: .15vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
} */
.settings-borgir {
  background-color: transparent;
  border-radius: 50%;
  border: .3vw solid #777;
  width: 1vw;
  height: 1vw;
  position: absolute;
  top: 1.5vw;
  left: 97vw;
}
.settings-borgir:hover {
  cursor: pointer;
}
