* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
}
.world {
  background-color: #252;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  width: 2000px;
  height: 2000px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.world > div {
  width: 40px;
  height: 40px;
  position: relative;
}
.highlight {
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
}
.highlight > .one {
  background-color: transparent;
  border-top-left-radius: 4px;
  border-top: 5px solid #edf0f1;
  border-left: 5px solid #edf0f1;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.highlight > .two {
  background-color: transparent;
  border-top-right-radius: 4px;
  border-top: 5px solid #edf0f1;
  border-right: 5px solid #edf0f1;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 0px;
  left: 27px;
}
.highlight > .three {
  background-color: transparent;
  border-bottom-left-radius: 4px;
  border-bottom: 5px solid #edf0f1;
  border-left: 5px solid #edf0f1;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 27px;
  left: 0px;
}
.highlight > .four {
  background-color: transparent;
  border-bottom-right-radius: 4px;
  border-bottom: 5px solid #edf0f1;
  border-right: 5px solid #edf0f1;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 27px;
  left: 27px;
}
.highlight > .five {
  background-color: #edf0f1;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.highlight > .six {
  background-color: #edf0f1;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 5px;
  left: 34px;
}
.highlight > .seven {
  background-color: #edf0f1;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 34px;
  left: 5px;
}
.highlight > .eight {
  background-color: #edf0f1;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 34px;
  left: 34px;
}
.settings-borgir {
  background-color: transparent;
  border-radius: 50%;
  border: .3vw solid #777;
  width: 1vw;
  height: 1vw;
  position: absolute;
  top: 1.5vw;
  left: 97vw;
}
.settings-borgir:hover {
  cursor: pointer;
}
