/*
  ==========
  CONTAINERS
  ==========
*/ 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
  outline: none;
  border: none;
}
.grid{
  background-color: #14151a;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
}
.grid > *{
  border-radius: 5vw;
  cursor: pointer;
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.twitch{
  background-color: #6441a5;
  grid-row-start: 1;
  grid-column-start: 1;
}
.youtube{
  background-color: #c11;
  grid-row-start: 1;
  grid-column-start: 2;
}
.sundayFunday{
  background-color: #1a1;
}
.newest-project{
  background-color: #444;
}
.background{
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  position: absolute;
}
/*
  =====
  LINKS
  =====
*/
.search-box{
  background-color: transparent;
  color: #a8a8a8;
  user-select: text;
  cursor: text;
  font-size: 1vw;
  padding: 0 1vw .1vw 1vw;
  height: 2.5vw;
  width: 0;
  margin-left: 11vw;
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
}
/*
  ======
  IMAGES
  ======
*/
.twitch-png1{
  transition-timing-function: linear;
  margin-top: .53vh;
  margin-left: -1.3vw;
  width: 8vw;
  height: 8vw;
}
.twitch-png2{
  transition-timing-function: linear;
  margin-left: -1vw;
  width: 15vw;
  height: 10vw;
}
.youtube-png{
  width: 25vw;
  height: 15vw;
}
.bait{
  background-color: #282828;
  color: #edf0f1;
  font-family: arial;
  font-size: 2vh;
  width: 20vw;
  height: 0;
  position: relative;
  bottom: 71.65vh;
  left: 15vw;
}
.bait:hover{
  background-color: #383838;
}
